body{
  background-color: white;
}

.BODY{
  background-color: white;
}


h3{
    color: blue;
}
.footerStyle{
  background-color: rgb(1, 52, 99);
  color: white;
  position: fixed;
}
/* body{
    background-color: #A1ACA4    ;
} */
.page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  /* background-color: darkslategrey; */
  color: white;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding-left: 2em;
    height: 3em;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
