{% extends "layout.html" %}
    {% block tittle %}
        Modulo de Administrador
    {% endblock tittle %}
    {% block scripts %}
    {% endblock scripts %}
    {% block content %}
        <h1>Modulo Administrador</h1>
        
        <a class="btn btn-primary" href={{ url_for('adminModuleAdd') }}>Agregar Usuario</a>
        <!-- <a class="btn btn-primary" href={{ url_for('adminModuleAdd') }}>Registrar Usuario Nuevo</a> -->
        
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in usuarios %} 
                        <tr>
                            <td><a href="">{{i['email']}}</a></td>
                            <td><a href="">{{i['type']}}</a></td>
                            <div class="row">
                                    <div class="col">
                                        <!-- <td><a href="">Modificar</a></td> -->
                                    </div>
                                    <div class="col" id="btnEliminar">
                                        <td><a class="btn btn-danger" href="/admin/eliminar/{{i['email']}}">Eliminar</a></td>
                                    </div>
                                </div>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
                const realizarConsulta = document.forms['responderConsultaMedicoForm'];
    
                realizarConsulta.addEventListener('click', function(e){
                    if(e.taget.id == 'btnEliminar'){
                        const li = e.target.parentElement;
                        list.removeChild(li);
                        console.log("Funciona")
                    }
                });
    
                // realizarConsulta.addEventListener('submit', function(e){
                //     e.preventDefault();
                //     console.log("Funciona Remitir Form")
                // });
        
                
            </script>
    {% endblock content %}}