<!-- Footer -->
<footer class="page-footer font-small blue">
<!-- <footer class="footerStyle" > -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">Sitio desarrollado por:</div>
    <div class="footer-copyright text-center py-2">Juan Fernando Otoya</div>
    <div class="footer-copyright text-center py-2">Andres Salazar</div>
    <div class="footer-copyright text-center py-2">Don Bergas</div>
    <div class="footer-copyright text-center py-3">© 2019 Clini Historias:</div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
