{% extends "layout.html" %}
   {% block tittle %}
      Home
   {% endblock tittle %}
   {% block scripts %}
   {% endblock scripts %}
   {% block content %}
      <table class="table">
         <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Documento de Identificacion</th>
              <th scope="col">Contrasena</th>
              <th scope="col">Ingresar</th>
            </tr>
         </thead>
         <tbody>
            {% for i in range(Personas|length) %} 
               <tr>
                  <!-- <th scope="row">1</th> -->
                  <td>{{Personas[i]['Nombre']}}</td>
                  <td>{{Personas[i]['Apellido']}}</td>
                  <td>{{Personas[i]['cc']}}</td>
                  <td>{{Personas[i]['Contrasena']}}</td>
                  <td><a rel="stylesheet" href="/hello/{{Personas[i]['Nombre'] + ' ' + Personas[i]['Apellido']}}">
                  <button>Ingresar como {{Personas[i]["Nombre"]}}</button></a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   {% endblock content %}}

   
